Temp/UnityLockfile
Library/ArtifactDB
Library/SourceAssetDB
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/
Logs/AssetImportWorker0-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
obj/Debug/Unity.Rider.Editor.csproj.AssemblyReference.cache
Temp/Assembly-CSharp.dll.hash
Temp/Assembly-CSharp-Editor.dll.hash
Temp/CompilationLog.txt
Temp/Unity.CollabProxy.Editor.dll.hash
Temp/Unity.PlasticSCM.Editor.dll.hash
Temp/Unity.Rider.Editor.dll.hash
Temp/Unity.Services.Core.Editor.dll.hash
Temp/Unity.TextMeshPro.dll.hash
Temp/Unity.TextMeshPro.Editor.dll.hash
Temp/Unity.Timeline.dll.hash
Temp/Unity.Timeline.Editor.dll.hash
Temp/Unity.VisualStudio.Editor.dll.hash
Temp/Unity.VSCode.Editor.dll.hash
Temp/UnityEditor.TestRunner.dll.hash
Temp/UnityEditor.UI.dll.hash
Temp/UnityEngine.TestRunner.dll.hash
Temp/UnityEngine.UI.dll.hash
Temp/UnityTempFile-069cce4761ae7e640a82c547a8bb24da
Temp/UnityTempFile-21635765aa51aca4cb38af4f28b77ba2
Temp/UnityTempFile-21cf103b29f229649a03c2bb1fcae020
Temp/UnityTempFile-23012852a40a4e243b40ebd4880a7e00
Temp/UnityTempFile-291158161eb76664d80428eca693395b
Temp/UnityTempFile-5e9efe8114f7d274194c2ab7b5182e69
Temp/UnityTempFile-63730bde8b6638d429064d0f35394884
Temp/UnityTempFile-67c1d3db61e2d7c41b53c794c78ba934
Temp/UnityTempFile-74226e236d14d28449621a43124599ac
Temp/UnityTempFile-7ca3c5dd484c04c42bdedf51fddfeaeb
Temp/UnityTempFile-90332edb569b3ac4ea63f9aa04feb91a
Temp/UnityTempFile-972837c309bca6a4bbecbc440df6ce89
Temp/UnityTempFile-9dfa0e43073c7594f90cea22afbaf722
Temp/UnityTempFile-9f148e4f89b41b146a32abf611bb723c
Temp/UnityTempFile-ea03f985194b00f41ba62026c2d2ce87
Temp/UnityTempFile-f4eb00573844b734a9427d1a14ee1fdd
Temp/workerlic
